@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
.b-cont{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Raleway;
    padding: 0 12vw;
}

//Main
.main-header {
    margin: 2rem;
    text-align: center;
    font-size: 300%;
}

.main-copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    width: 40vw;
}

.hr-cont1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

//Search
.sr-cont {
    display: flex;
    justify-content: center;
}

.sr-cont > input {
    border-radius: .5rem;
    border: none;
    font-size: larger;
    text-align: center;
    padding: 1rem;

    &:focus {
        outline: none;
    }
}

.bg-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//Cards
.cr-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: inset 0 0 30px black;
    border-radius: .5rem;
    padding: 3rem;
}

.card {
    display: block;
    text-align: center;
    background-color: lightgreen;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 1px 10px black;
    transition: transform .2s, box-shadow .2s;

    &:hover {
        transform: translate(-5px, -5px);
        box-shadow: 5px 5px 20px black;
    }
}

#footer {
    margin-top: auto;
    height: 1px;
    align-self: flex-end;
}